

:root {
    --belle: 'Bellefair', sans-serif;
    --barlow: 'Barlow Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 50px;
    height: 10vh;
}

.menu {
    padding-right: 50px;
}

.menu a {
    text-decoration: none;
    font-size: medium;
    padding: 10px;
    color: #d0d6f9;
    font-family: var(--barlow);
}

.menu .active{
    color: #fff;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a41;
    padding-bottom: 15px;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #3a3a41;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    display: none;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

.heading {
    display: flex;
    margin: 50px;
    font-size: 30px;
    font-family: var(--barlow);
}

.heading span {
    color: #d0d6f9;
    font-weight: 700;
}

.hero {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 40%;
}

h3 {
    color: #d0d6f9;
    font-size: 32px;
    font-family: var(--belle);
}

h2 {
    font-size: 56px;
    font-family: var(--belle);
}

p {
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 2px;
    color: #d0d6f9;
    width: 70%;
    font-family: var(--barlow);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.links a {
    text-decoration: none;
    font-size: large;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #3a3a41;
    margin-top: 50px;
}

.links .active {
    background-color: #fff;
}

.links a:hover {
    background-color: #d0d6f9;
}

@media screen and (max-width: 950px) {
    .hero {
        flex-direction: column-reverse;
    }

    .body {
        height: 280vh;
        background-image: url(/assets/crew/background-crew-mobile.jpg);
        background-size: cover;
    }

    .content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .profile-img img {
        width: 250px;
        height: 300px;
    }

    h2 {
        font-size: 42px;
    }

    .heading {
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    #menuBtn {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    #sideNav {
        width: 250px;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: -250px;
        top: 0;
        background: #3a3a41;
        z-index: 2;
        transition: 0.5s;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    .profile-img img {
        display: none;
    }

    .heading {
        font-size: 18px;
        justify-content: left;
        margin-top: 20px;
    }
    .links {
        margin: 0 10px;
    }
    p {
        width: 100%;
    }
}